.chatting {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.chatting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #2196f3;
  color: #fff;
  padding-left: 10px;
  padding-right: 15px;
}

.chatting-back {
  width: 32px;
  height: 32px;
}
.icon-back {
  background: url('../../common/icons/icon-ai.svg') no-repeat;
  background-size: contain;
}
.icon-back2 {
  background: url('../../common/icons/icon-ai2.svg') no-repeat;
  background-size: contain;
}
.chatting-tile {
}
